@import url(https://fonts.googleapis.com/css2?family=Archivo&family=Poppins:wght@600;

700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1E3240;
  line-height: 1;
  font-family: "Archivo", sans-serif;
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Archivo", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 155.8%;
  font-weight: 400;
  opacity: 0;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.loaded body {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 70.3125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 0.75rem 1.875rem;
  background: #424D79;
  line-height: 114%;
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

._lightBlue {
  background: #f0f3ff;
}

._lighterBlue {
  background-color: #FAFBFF;
}

.main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 152.5%;
  color: #424D79;
  max-width: 35rem;
}

@supports (font-size: clamp( 1.875rem , 1.4438622754rem  +  2.1556886228vw , 3rem )) {
  .main-title {
    font-size: clamp( 1.875rem , 1.4438622754rem  +  2.1556886228vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.4438622754rem  +  2.1556886228vw , 3rem )) {
  .main-title {
    font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 52.1875);
  }
}

._link {
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  background-image: -o-linear-gradient(#424D79, #424D79);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#424D79), to(#424D79));
  background-image: linear-gradient(#424D79, #424D79);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.3s;
  -o-transition: background-size 0.3s;
  transition: background-size 0.3s;
  padding-bottom: 0.3125rem;
  transition: all 0.3s ease 0s;
  font-size: 1.25rem;
}

._link._active {
  color: #4c5da0;
}

.observe {
  scroll-margin: 3.75rem;
}

.icon-menu {
  display: none;
}

.menu {
  z-index: 50;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (height: clamp( 4.375rem , 3.752245509rem  +  3.1137724551vw , 6rem )) {
  .menu {
    height: clamp( 4.375rem , 3.752245509rem  +  3.1137724551vw , 6rem );
  }
}

@supports not (height: clamp( 4.375rem , 3.752245509rem  +  3.1137724551vw , 6rem )) {
  .menu {
    height: calc(4.375rem + 1.625 * (100vw - 20rem) / 52.1875);
  }
}

.menu__logo {
  margin-right: 1.875rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 2.5rem , 2.2604790419rem  +  1.1976047904vw , 3.125rem )) {
  .menu__list {
    gap: clamp( 2.5rem , 2.2604790419rem  +  1.1976047904vw , 3.125rem );
  }
}

@supports not (gap: clamp( 2.5rem , 2.2604790419rem  +  1.1976047904vw , 3.125rem )) {
  .menu__list {
    gap: calc(2.5rem + 0.625 * (100vw - 20rem) / 52.1875);
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 2.5rem , 1.8293413174rem  +  3.3532934132vw , 4.25rem )) {
  .menu__body {
    gap: clamp( 2.5rem , 1.8293413174rem  +  3.3532934132vw , 4.25rem );
  }
}

@supports not (gap: clamp( 2.5rem , 1.8293413174rem  +  3.3532934132vw , 4.25rem )) {
  .menu__body {
    gap: calc(2.5rem + 1.75 * (100vw - 20rem) / 52.1875);
  }
}

.menu__button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #C3CBEA;
  font-size: 1.75rem;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 50;
  background: transparent;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._header-scroll {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 3rem;
  height: 3rem;
  margin-right: 1.875rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.home {
  height: 100vh;
  position: relative;
  background: #C3CBEA;
  overflow: hidden;
}

@supports (padding-top: clamp( 6.25rem , 5.5314371257rem  +  3.5928143713vw , 8.125rem )) {
  .home {
    padding-top: clamp( 6.25rem , 5.5314371257rem  +  3.5928143713vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , 5.5314371257rem  +  3.5928143713vw , 8.125rem )) {
  .home {
    padding-top: calc(6.25rem + 1.875 * (100vw - 20rem) / 52.1875);
  }
}

.home__container {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.home__images {
  position: absolute;
  z-index: 2;
  bottom: -5%;
  right: -5%;
  width: 69.375%;
  height: 70%;
  overflow: hidden;
}

.home__images img {
  width: 100%;
  height: 110%;
}

.home__title {
  font-weight: 600;
  max-width: 46.5625rem;
  line-height: 114%;
  color: #424D79;
}

@supports (font-size: clamp( 2rem , 1.0898203593rem  +  4.5508982036vw , 4.375rem )) {
  .home__title {
    font-size: clamp( 2rem , 1.0898203593rem  +  4.5508982036vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.0898203593rem  +  4.5508982036vw , 4.375rem )) {
  .home__title {
    font-size: calc(2rem + 2.375 * (100vw - 20rem) / 52.1875);
  }
}

.home__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (padding-top: clamp( 1.875rem , 1.3959580838rem  +  2.3952095808vw , 3.125rem )) {
  .home__buttons {
    padding-top: clamp( 1.875rem , 1.3959580838rem  +  2.3952095808vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.3959580838rem  +  2.3952095808vw , 3.125rem )) {
  .home__buttons {
    padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 52.1875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1564371257rem  +  3.5928143713vw , 3.75rem )) {
  .home__buttons {
    padding-bottom: clamp( 1.875rem , 1.1564371257rem  +  3.5928143713vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1564371257rem  +  3.5928143713vw , 3.75rem )) {
  .home__buttons {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 52.1875);
  }
}

.home__button {
  color: #424D79;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 1.25rem 1.875rem;
}

@supports (font-size: clamp( 1.375rem , 1.1833832335rem  +  0.9580838323vw , 1.875rem )) {
  .home__button {
    font-size: clamp( 1.375rem , 1.1833832335rem  +  0.9580838323vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.1833832335rem  +  0.9580838323vw , 1.875rem )) {
  .home__button {
    font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 52.1875);
  }
}

.home__button:first-child {
  color: #fff;
}

.home__button:last-child {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.home__button:last-child::after {
  content: "";
  background: url("../img/arrow.svg") 0 0 no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.25rem;
  height: 2.5rem;
}

@supports (padding-top: clamp( 3.125rem , 2.6459580838rem  +  2.3952095808vw , 4.375rem )) {
  .about {
    padding-top: clamp( 3.125rem , 2.6459580838rem  +  2.3952095808vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.6459580838rem  +  2.3952095808vw , 4.375rem )) {
  .about {
    padding-top: calc(3.125rem + 1.25 * (100vw - 20rem) / 52.1875);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.6459580838rem  +  2.3952095808vw , 4.375rem )) {
  .about {
    padding-bottom: clamp( 3.125rem , 2.6459580838rem  +  2.3952095808vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.6459580838rem  +  2.3952095808vw , 4.375rem )) {
  .about {
    padding-bottom: calc(3.125rem + 1.25 * (100vw - 20rem) / 52.1875);
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 2.5rem , 1.5419161677rem  +  4.7904191617vw , 5rem )) {
  .about__content {
    gap: clamp( 2.5rem , 1.5419161677rem  +  4.7904191617vw , 5rem );
  }
}

@supports not (gap: clamp( 2.5rem , 1.5419161677rem  +  4.7904191617vw , 5rem )) {
  .about__content {
    gap: calc(2.5rem + 2.5 * (100vw - 20rem) / 52.1875);
  }
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.about__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.0625rem, 1fr));
  gap: 1.875rem;
}

.image-about__image-ibg {
  padding-bottom: 109.8901098901%;
  z-index: 2;
}

.image-about__image-ibg::before {
  content: "";
  width: 100%;
  height: 70%;
  background-color: #C3CBEA;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.image-about__txt {
  padding-top: 1.5rem;
}

.txt-image__title {
  color: #424D79;
  font-weight: 600;
  line-height: 114%;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  padding-bottom: 0.75rem;
}

.txt-image__subtitle {
  font-size: 18px;
  line-height: 114%;
  font-style: italic;
}

.info-about__title {
  font-weight: 600;
  line-height: 130%;
  color: #424D79;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 10;
  padding-bottom: 1.875rem;
}

@supports (font-size: clamp( 1.875rem , 1.252245509rem  +  3.1137724551vw , 3.5rem )) {
  .info-about__title {
    font-size: clamp( 1.875rem , 1.252245509rem  +  3.1137724551vw , 3.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.252245509rem  +  3.1137724551vw , 3.5rem )) {
  .info-about__title {
    font-size: calc(1.875rem + 1.625 * (100vw - 20rem) / 52.1875);
  }
}

.no-webp .info-about__title::before{
  background: url("../img/decor(,).png") 0 0 no-repeat; }

.info-about__title::before {
  content: "";
  height: 9.375rem;
  width: 9.375rem;
  position: absolute;
  z-index: -1;
  left: -10%;
}

@supports (padding-top: clamp( 2.5rem , 1.4461077844rem  +  5.2694610778vw , 5.25rem )) {
  .cards-about {
    padding-top: clamp( 2.5rem , 1.4461077844rem  +  5.2694610778vw , 5.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.4461077844rem  +  5.2694610778vw , 5.25rem )) {
  .cards-about {
    padding-top: calc(2.5rem + 2.75 * (100vw - 20rem) / 52.1875);
  }
}

.cards-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-about__title {
  line-height: 1.0833333333;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.cards-about__value {
  color: #424D79;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.whoWe {
  padding-top: 3.125rem;
  padding-bottom: 4.375rem;
}

.whoWe__title {
  padding-bottom: 2.5rem;
}

.whoWe__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.125rem, 1fr));
  gap: 1.875rem;
}

.item-whoWe img {
  padding-bottom: 2.5rem;
  max-width: 18.75rem;
}

.item-whoWe__title {
  font-weight: 700;
  line-height: 114%;
  padding-bottom: 1.5rem;
}

@supports (font-size: clamp( 1.625rem , 1.3854790419rem  +  1.1976047904vw , 2.25rem )) {
  .item-whoWe__title {
    font-size: clamp( 1.625rem , 1.3854790419rem  +  1.1976047904vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 1.3854790419rem  +  1.1976047904vw , 2.25rem )) {
  .item-whoWe__title {
    font-size: calc(1.625rem + 0.625 * (100vw - 20rem) / 52.1875);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8667664671rem  +  1.9161676647vw , 2.25rem )) {
  .item-whoWe__txt {
    padding-bottom: clamp( 1.25rem , 0.8667664671rem  +  1.9161676647vw , 2.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8667664671rem  +  1.9161676647vw , 2.25rem )) {
  .item-whoWe__txt {
    padding-bottom: calc(1.25rem + 1 * (100vw - 20rem) / 52.1875);
  }
}

@supports (padding-top: clamp( 3.75rem , 3.5104790419rem  +  1.1976047904vw , 4.375rem )) {
  .portfolio {
    padding-top: clamp( 3.75rem , 3.5104790419rem  +  1.1976047904vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 3.75rem , 3.5104790419rem  +  1.1976047904vw , 4.375rem )) {
  .portfolio {
    padding-top: calc(3.75rem + 0.625 * (100vw - 20rem) / 52.1875);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.879491018rem  +  6.2275449102vw , 6.375rem )) {
  .portfolio {
    padding-bottom: clamp( 3.125rem , 1.879491018rem  +  6.2275449102vw , 6.375rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.879491018rem  +  6.2275449102vw , 6.375rem )) {
  .portfolio {
    padding-bottom: calc(3.125rem + 3.25 * (100vw - 20rem) / 52.1875);
  }
}

.portfolio__title {
  padding-bottom: 2.1875rem;
}

.portfolio__slider {
  padding-top: 20%;
  margin-top: -20%;
  padding-bottom: 20%;
  margin-bottom: -20%;
}

.portfolio__slide {
  position: relative;
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-portfolio__image-ibg {
  padding-bottom: 141.2429378531%;
}

.slider-portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  padding-top: 1.25rem;
}

.text-portfolio-slide {
  color: #fff;
  position: absolute;
  z-index: 3;
  bottom: 5%;
  left: 5%;
}

.text-portfolio-slide__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.625rem;
}

@supports (font-size: clamp( 1.25rem , 1.130239521rem  +  0.5988023952vw , 1.5625rem )) {
  .text-portfolio-slide__title {
    font-size: clamp( 1.25rem , 1.130239521rem  +  0.5988023952vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.130239521rem  +  0.5988023952vw , 1.5625rem )) {
  .text-portfolio-slide__title {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 52.1875);
  }
}

.text-portfolio-slide__subtitle {
  font-size: 18px;
  line-height: 0.8333333333;
}

.portfolio-button-prev,
.portfolio-button-next {
  width: 4rem;
  height: 4rem;
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (padding-top: clamp( 2.5rem , 2.1407185629rem  +  1.7964071856vw , 3.4375rem )) {
  .testimonials {
    padding-top: clamp( 2.5rem , 2.1407185629rem  +  1.7964071856vw , 3.4375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 2.1407185629rem  +  1.7964071856vw , 3.4375rem )) {
  .testimonials {
    padding-top: calc(2.5rem + 0.9375 * (100vw - 20rem) / 52.1875);
  }
}

@supports (padding-bottom: clamp( 3.75rem , 2.5523952096rem  +  5.9880239521vw , 6.875rem )) {
  .testimonials {
    padding-bottom: clamp( 3.75rem , 2.5523952096rem  +  5.9880239521vw , 6.875rem );
  }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.5523952096rem  +  5.9880239521vw , 6.875rem )) {
  .testimonials {
    padding-bottom: calc(3.75rem + 3.125 * (100vw - 20rem) / 52.1875);
  }
}

.testimonials__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #424D79;
  line-height: 152.5%;
  max-width: 35rem;
}

@supports (font-size: clamp( 1.875rem , 1.4438622754rem  +  2.1556886228vw , 3rem )) {
  .testimonials__title {
    font-size: clamp( 1.875rem , 1.4438622754rem  +  2.1556886228vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.4438622754rem  +  2.1556886228vw , 3rem )) {
  .testimonials__title {
    font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 52.1875);
  }
}

.testimonials__slider {
  margin-left: auto;
  position: relative;
  z-index: 2;
  max-width: 58.1875rem;
}

@supports (padding-top: clamp( 1.875rem , 0.6055389222rem  +  6.3473053892vw , 5.1875rem )) {
  .testimonials__slider {
    padding-top: clamp( 1.875rem , 0.6055389222rem  +  6.3473053892vw , 5.1875rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6055389222rem  +  6.3473053892vw , 5.1875rem )) {
  .testimonials__slider {
    padding-top: calc(1.875rem + 3.3125 * (100vw - 20rem) / 52.1875);
  }
}

.no-webp .testimonials__slider::before{
  background: url("../img/decor(,).png") 0 0 no-repeat; }

.testimonials__slider::before {
  content: "";
  height: 9.375rem;
  width: 9.375rem;
  position: absolute;
  z-index: 1;
  top: 15%;
}

.slider-testimonials__buttons {
  width: 4.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  margin-left: auto;
  padding-top: 0.9375rem;
}

@supports (margin-right: clamp( 0.0000000625rem , -1.4371256621rem  +  7.1856286228vw , 3.75rem )) {
  .slider-testimonials__buttons {
    margin-right: clamp( 0.0000000625rem , -1.4371256621rem  +  7.1856286228vw , 3.75rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , -1.4371256621rem  +  7.1856286228vw , 3.75rem )) {
  .slider-testimonials__buttons {
    margin-right: calc(0.0000000625rem + 3.7499999375 * (100vw - 20rem) / 52.1875);
  }
}

.slide-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@supports (padding-left: clamp( 2.3125rem , 0.9711826347rem  +  6.7065868263vw , 5.8125rem )) {
  .slide-testimonials {
    padding-left: clamp( 2.3125rem , 0.9711826347rem  +  6.7065868263vw , 5.8125rem );
  }
}

@supports not (padding-left: clamp( 2.3125rem , 0.9711826347rem  +  6.7065868263vw , 5.8125rem )) {
  .slide-testimonials {
    padding-left: calc(2.3125rem + 3.5 * (100vw - 20rem) / 52.1875);
  }
}

.slide-testimonials__title {
  max-width: 39.5rem;
  font-weight: 700;
  line-height: 152.5%;
  font-family: "Poppins", sans-serif;
  color: #424D79;
}

@supports (font-size: clamp( 1.625rem , 1.3854790419rem  +  1.1976047904vw , 2.25rem )) {
  .slide-testimonials__title {
    font-size: clamp( 1.625rem , 1.3854790419rem  +  1.1976047904vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 1.3854790419rem  +  1.1976047904vw , 2.25rem )) {
  .slide-testimonials__title {
    font-size: calc(1.625rem + 0.625 * (100vw - 20rem) / 52.1875);
  }
}

.slide-testimonials__txt {
  font-style: italic;
}

@supports (font-size: clamp( 1.375rem , 1.3270958084rem  +  0.2395209581vw , 1.5rem )) {
  .slide-testimonials__txt {
    font-size: clamp( 1.375rem , 1.3270958084rem  +  0.2395209581vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.3270958084rem  +  0.2395209581vw , 1.5rem )) {
  .slide-testimonials__txt {
    font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 52.1875);
  }
}

.slide-testimonials__author {
  font-weight: 700;
  color: #424D79;
  max-width: 31.25rem;
}

.slider-testimonials-prev img,
.slider-testimonials-next img {
  width: 2rem;
  height: 2rem;
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact {
  position: relative;
  background-color: #C3CBEA;
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
}

.contact__wrapper {
  max-width: 45%;
}

@supports (padding-bottom: clamp( 1.875rem , 1.0366766467rem  +  4.1916167665vw , 4.0625rem )) {
  .contact__title {
    padding-bottom: clamp( 1.875rem , 1.0366766467rem  +  4.1916167665vw , 4.0625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.0366766467rem  +  4.1916167665vw , 4.0625rem )) {
  .contact__title {
    padding-bottom: calc(1.875rem + 2.1875 * (100vw - 20rem) / 52.1875);
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.form-contact__text {
  resize: none;
}

.form-contact__button {
  margin-right: auto;
}

.input {
  background-color: transparent;
  border: 0.125rem solid #1E3240;
  padding: 0.75rem 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input:focus {
  outline: none;
  -webkit-box-shadow: 0 0.875em 1.75em rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0.875em 1.75em rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input::-webkit-input-placeholder {
  color: rgba(30, 50, 64, 0.26);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 152.5%;
}

.input::-moz-placeholder {
  color: rgba(30, 50, 64, 0.26);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 152.5%;
}

.input:-ms-input-placeholder {
  color: rgba(30, 50, 64, 0.26);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 152.5%;
}

.input::-ms-input-placeholder {
  color: rgba(30, 50, 64, 0.26);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 152.5%;
}

.input::placeholder {
  color: rgba(30, 50, 64, 0.26);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 152.5%;
}

.no-webp .image-contact{
  background-image: url("../img/contact.jpg"); }

.image-contact {
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-position: 0 0;
  background-size: 50vw 100%;
  background-repeat: no-repeat;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 93.75em) {
  .image-contact {
    background-size: 70vw 100%;
  }
}

@media (max-width: 72.1875em) {
  .image-contact {
    background-size: cover;
  }
}

@media (max-width: 61.99875em) {
  .home__title {
    max-width: 37.5rem;
  }

  .contact__wrapper {
    margin: 0 auto;
    max-width: 80%;
  }

  .image-contact {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  ._link {
    font-size: 2rem;
  }

  .icon-menu {
    margin-left: 1.875rem;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #1E3240;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 70px 30px 30px 30px;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__button {
    margin: 0 auto;
    color: #fff;
    font-size: 2rem;
  }

  .footer__container {
    display: none;
  }

  .home__title {
    max-width: 31.25rem;
  }

  .home__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
  }

  .home__button {
    padding: 0.625rem 1.25rem;
  }

  .home__button:last-child::after {
    height: 1.375rem;
  }

  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__image {
    width: 80%;
  }

  .about__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .whoWe__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cards-whoWe__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-whoWe img {
    margin: 0 auto;
  }

  .item-whoWe__title {
    text-align: center;
  }

  .item-whoWe__txt {
    text-align: center;
  }

  .contact__wrapper {
    max-width: 100%;
  }
}

@media (max-width: 33.75rem) {
  .testimonials__slider::before {
    right: 0;
    top: 0;
  }

  .slide-testimonials {
    padding-left: 0;
  }
}

@media (max-width: 29.99875em) {
  .home__images {
    width: 100%;
    height: 60%;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #1E3240;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  ._link:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-size: 100% 2px;
  }

  .menu__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #fff;
    background-color: #1E3240;
  }

  .home__button:last-child:hover {
    color: #000;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .portfolio__slide:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .portfolio-button-prev:hover,
  .portfolio-button-next:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .slider-testimonials-prev img:hover,
  .slider-testimonials-next img:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.webp .info-about__title::before{ background: url(../img/decor(,).webp) 0 0 no-repeat; }

.webp .testimonials__slider::before{ background: url(../img/decor(,).webp) 0 0 no-repeat; }

.webp .image-contact{ background-image: url(../img/contact.webp); }